<div class="spacecoin-logo-wrapper">
  <img src="{{asset " images/spacecoin-logo-yellow.svg"}}" alt="Spacecoin Logo" class="spacecoin-logo" />
  <div class="logo-protection-zone"></div>
</div>

<style>
  .spacecoin-logo-wrapper {
    padding: 2rem;
    position: relative;
  }

  .logo-protection-zone {
    position: absolute;
    inset: -20%;
    pointer-events: none;
  }
</style>